TerminalPedidos/xml-resources/web-service-references/ServidorCantinaWS/wsdl/localhost_8080/ServidorCantinaWS/ServidorCantinaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.senac.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.senac.com/" name="ServidorCantinaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.senac.com/" schemaLocation="http://localhost:8080/ServidorCantinaWS/ServidorCantinaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="autenticarCliente">
<part name="parameters" element="tns:autenticarCliente"/>
</message>
<message name="autenticarClienteResponse">
<part name="parameters" element="tns:autenticarClienteResponse"/>
</message>
<message name="buscarDadosCliente">
<part name="parameters" element="tns:buscarDadosCliente"/>
</message>
<message name="buscarDadosClienteResponse">
<part name="parameters" element="tns:buscarDadosClienteResponse"/>
</message>
<message name="buscarFilaPedidos">
<part name="parameters" element="tns:buscarFilaPedidos"/>
</message>
<message name="buscarFilaPedidosResponse">
<part name="parameters" element="tns:buscarFilaPedidosResponse"/>
</message>
<message name="solicitarPedido">
<part name="parameters" element="tns:solicitarPedido"/>
</message>
<message name="solicitarPedidoResponse">
<part name="parameters" element="tns:solicitarPedidoResponse"/>
</message>
<message name="enviarPedido">
<part name="parameters" element="tns:enviarPedido"/>
</message>
<message name="enviarPedidoResponse">
<part name="parameters" element="tns:enviarPedidoResponse"/>
</message>
<message name="fecharPedido">
<part name="parameters" element="tns:fecharPedido"/>
</message>
<message name="fecharPedidoResponse">
<part name="parameters" element="tns:fecharPedidoResponse"/>
</message>
<portType name="ServidorCantinaWS">
<operation name="autenticarCliente">
<input wsam:Action="http://ws.senac.com/ServidorCantinaWS/autenticarClienteRequest" message="tns:autenticarCliente"/>
<output wsam:Action="http://ws.senac.com/ServidorCantinaWS/autenticarClienteResponse" message="tns:autenticarClienteResponse"/>
</operation>
<operation name="buscarDadosCliente">
<input wsam:Action="http://ws.senac.com/ServidorCantinaWS/buscarDadosClienteRequest" message="tns:buscarDadosCliente"/>
<output wsam:Action="http://ws.senac.com/ServidorCantinaWS/buscarDadosClienteResponse" message="tns:buscarDadosClienteResponse"/>
</operation>
<operation name="buscarFilaPedidos">
<input wsam:Action="http://ws.senac.com/ServidorCantinaWS/buscarFilaPedidosRequest" message="tns:buscarFilaPedidos"/>
<output wsam:Action="http://ws.senac.com/ServidorCantinaWS/buscarFilaPedidosResponse" message="tns:buscarFilaPedidosResponse"/>
</operation>
<operation name="solicitarPedido">
<input wsam:Action="http://ws.senac.com/ServidorCantinaWS/solicitarPedidoRequest" message="tns:solicitarPedido"/>
<output wsam:Action="http://ws.senac.com/ServidorCantinaWS/solicitarPedidoResponse" message="tns:solicitarPedidoResponse"/>
</operation>
<operation name="enviarPedido">
<input wsam:Action="http://ws.senac.com/ServidorCantinaWS/enviarPedidoRequest" message="tns:enviarPedido"/>
<output wsam:Action="http://ws.senac.com/ServidorCantinaWS/enviarPedidoResponse" message="tns:enviarPedidoResponse"/>
</operation>
<operation name="fecharPedido">
<input wsam:Action="http://ws.senac.com/ServidorCantinaWS/fecharPedidoRequest" message="tns:fecharPedido"/>
<output wsam:Action="http://ws.senac.com/ServidorCantinaWS/fecharPedidoResponse" message="tns:fecharPedidoResponse"/>
</operation>
</portType>
<binding name="ServidorCantinaWSPortBinding" type="tns:ServidorCantinaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autenticarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDadosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarFilaPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fecharPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServidorCantinaWS">
<port name="ServidorCantinaWSPort" binding="tns:ServidorCantinaWSPortBinding">
<soap:address location="http://localhost:8080/ServidorCantinaWS/ServidorCantinaWS"/>
</port>
</service>
</definitions>